<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<system.serviceModel>
	
		<services>
			<service 
				name="DbAccess.Services.UsersService" 
				behaviorConfiguration="mexBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/"/>
						<add baseAddress="net.tcp://localhost:8090/"/>
					</baseAddresses>
				</host>
				
				<endpoint 
					address="DbAccess" 
					binding="basicHttpBinding" 
					contract="DbAccess.Services.IUsersService"/>
				
				<endpoint
					address="DbAccess"
					binding="netTcpBinding"
					contract="DbAccess.Services.IUsersService"/>
				
				<endpoint 
					behaviorConfiguration="web" 
					binding="webHttpBinding" 
					contract="DbAccess.Services.IUsersService"/>

				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange"/>
				
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				</behavior>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			
		</behaviors>

	</system.serviceModel>

	<connectionStrings>
		<add
			name="BogdaroneDBContext"
			connectionString="data source=.;initial catalog=BogdaroneDB;integrated security=SSPI"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>